extends layout

block content
	h1=title

	form(action="/projects/" + project.slug + "/image-order/", method="post", class="project-form")
		for image in project.images
			div.order-image
				img(src=image.url)
				input(type=number, name="image-" + image.order, value=image.order)


		button(type=submit) Save